<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{{ podcast.title }}</title>
		<link>{{ podcast.link }}</link>
                <generator>{{ podcast.generator }}</generator>
		<language>{{ podcast.lang }}</language>
		<copyright>{{ podcast.copyright|urlencode() }}</copyright>
		<image>
                <url>{{ podcast.image.url }}</url>
		<title>{{ podcast.image.title }}</title>
		<link>{{ podcast.image.link }}</link>
		</image>
		<itunes:subtitle>{{ itunes.subtitle }}</itunes:subtitle>
		<itunes:summary>{{ itunes.summary }}</itunes:summary>
		<description>{{ itunes.description }}</description>
		<itunes:author>{{ itunes.author }}</itunes:author>
		<itunes:owner>
			<itunes:name>{{ itunes.owner.name }}</itunes:name>
			<itunes:email>{{ itunes.owner.email }}</itunes:email>
		</itunes:owner>
		<itunes:image href="{{ itunes.image.url }}" />
		<itunes:category text="{{ itunes.category.category }}">
			<itunes:category text="{{ itunes.category.text }}" />
		</itunes:category>
		<itunes:explicit>{{ itunes.explicit }}</itunes:explicit>
